{% load static from staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>InstaQ. A qubos product</title>

	<!-- metas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta property="og:title" content="InstaQ">
	<meta property="og:site_name" content="instaq printer">
	<meta property="og:url" content="qubos.co/instaq">
	<meta property="og:image" content="/images/logo.png">
	<meta property="og:description" content="Future description">

	<!-- fav icon -->
	<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

	<!-- css -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/livegalleryapp.css' %}">

	<!-- script -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="{% static 'js/jquery-1.11.1.js' %}"></script>
	<script src="{% static 'js/handlebars-v2.0.0.js' %}"></script>

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

</head>
<body>

	<!--[if lt IE 9]>
      <p class="browsehappy Hfwb" style="color: black; font-size: 22px;">You are using an <strong style="color: #999;">outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience on Lollagram.</p>
  <![endif]-->

	<!--[if lt IE 9]>
      <div class="Hdn">
  <![endif]-->
	<div id="parameters" style="display: none;">
		<a id="eventname">{{ eventname }}</a>
	</div>

	<!--********************************
	TOP
	*********************************-->
	<div class="topFill"></div>


	<!--********************************
	IMAGE WRAPPER - content
	*********************************-->
	<div id="imgContent" class="Hcf"></div>

	<!--********************************
	FOOTER
	*********************************-->
	<footer id="footer">
		<div class="bottom">
			<ul class="socialShare Hfl">
				<li><a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://lollagram.com&p[images][0]=http://lollagram.herokuapp.com//images/logo.png&p[title]=Experience%20Lollapalooza%20through%20Lollagram&p[summary]=Lollagram%20is%20a%20labor%20of%20love%20that%E2%80%99s%20designed%20to%20help%20you%20keep%20track%20of%20the%20Lollapalooza%20experience,%20through%20the%20eyes%20(or,%20more%20accurately,%20snapshots)%20of%20music%20lovers%20on%20the%20ground%20at%20Grant%20Park.%20Lollagram%20takes%20advantage%20of%20the%20Instagram%20API%20and%20aggregates%20the%20moments%20at%20Lollapalooza,%20creating%20a%20visual%20record%20of%20the%20bands,%20food,%20people,%20and%20city%20that%20make%20up%20this%20great%20musical%20tradition.%20With%2040%20million%20photos%20being%20uploaded%20to%20Instagram%20each%20day,%20we're%20excited%20to%20present%20snapshots%20from%20Lollapalooza%202013." class="icon icon-fb" target="_blank"></a></li>
				<li><a href="http://twitter.com/home?status=EExperience%20Lollapalooza%20through%20Lollagram.%20Music.%20Photography.%20Chicago%20on%20www.lollagram.com" class="icon icon-tt" target="_blank"></a></li>
				<li><a href="https://plus.google.com/share?url=http://lollagram.com" class="icon icon-g" target="_blank"></a></li>
				<li><a href="mailto:?subject=Live%20Lolla%20Pics%20on%20Lollagram.com&body=Check%20out%20this%20site%20for%20real%20time%20photos%20from%20Lollapalooza%202013.%20http%3A%2F%2Fwww.lollagram.com" class="icon icon-email" target="_blank"></a></li>
			</ul>
		</div>
	</footer>

	<!--********************************
	TEMPLATES
	*********************************-->
{% verbatim %}

	<script id="firstShow-tpl" type="text/x-handlebars-template">
	{{#each firstShow}}
		<a href="{{link}}" title="{{caption.text}}" target="_blank">
			<img src="{{images.standard_resolution.url}}" alt="{{caption.text}}" />
		</a>
	{{/each}}
	</script>

	<script id="mostRecent-tpl" type="text/x-handlebars-template">
		<a href="{{data.link}}" title="{{data.caption.text}}" target="_blank" class="Hvh">
			<img src="{{data.images.standard_resolution.url}}" alt="{{data.caption.text}}" />
		</a>
	</script>
{% endverbatim %}

	<!-- CALL MAIN APP SCRIPT -->
	<script type="text/javascript" src="{% static 'js/livegalleryapp.js' %}"></script>

	<!--[if lt IE 9]>
    </div>
  <![endif]-->
</body>
</html>
