{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>InstaQ Viewer</title>
 	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">  
	<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body style="background-color: #333">

	<div id="sync2" class="sync2 owl-carousel">
		{% for p in posts %}
	    	<div class="item">
			<img  class="img-responsive img-rounded" src="{{ p.media_url_thumbnail }}">
		</div>
		{% endfor %}
	</div>
	  
	<div class="customNavigation">
		<a class="glyphicon glyphicon-step-backward mybtn first"></a>
		<a class="glyphicon glyphicon-chevron-left mybtn prev"></a>
		<a class="mybtn"><span class="currentItem"></span><span> / </span><span class="nbitems"></span></span></a>
		<a class="glyphicon glyphicon-chevron-right mybtn next"></a>
		<a class="glyphicon glyphicon-step-forward mybtn last"></a>
		<a class="most_recent_post" style="visibility: hidden"></a>
		<a type="button" class="glyphicon glyphicon-cog mybtn settings" data-html=true data-toggle="popover" title="Settings" data-content=onShowSettingsContent()></a>
		<input type="text" class="form-control subscribe-input" style="max-width:200px; display: inline-block;">
		<a class="mybtn subscribe">Go !</a>
	</div>	  
	

	<div class="container">  
	    <div id="sync1" class="sync1 owl-carousel">
		{% for p in posts %}
		<div class="item">
	      		<div class="row">
				<div class="col-xs-8">
					<img  class="img-responsive img-rounded" src="{{ p.media_url_stdres }}">
				</div>
				<div class="col-xs-4">
					<h3 class="caption">{{ p.username }}</h3>
					<h4 class="caption">{{ p.created_time }}</h4>
		    			<p class="caption">{{ p.caption_text }}</p>
				</div>
			</div>
		</div>
		{% endfor %}

	    </div>
	</div>
  
	
	  
  
  
	<!-- Include js plugin -->
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-transition.js' %}"></script>
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/handlebars-v2.0.0.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

{% verbatim %}
	<script id="sync1-template" type="text/x-handlebars-template">
  	{{#each posts}}
	 <div class="item">
                        <div class="row">
                                <div class="col-xs-8">
                                        <img  class="img-responsive img-rounded lazyOwl" data-src="{{ media_url_stdres }}">
                                </div>
                                <div class="col-xs-4">
                                        <h3 class="caption">{{ username }}</h3>
					<h5 class="caption">{{ created_time }}</h5>
                                        <p class="caption">{{ caption_text }}</p>
                                </div>
                        </div>
                </div>
	{{/each}}
	</script>


	<script id="sync2-template" type="text/x-handlebars-template">
        {{#each posts}}
         <div class="item">
                        <img  class="img-responsive img-rounded lazyOwl" data-src="{{ media_url_thumbnail }}">
                </div>
        {{/each}}
        </script>
{% endverbatim %}


</body>
</html>
